.header {
    background: white;
    border-bottom: 1px solid #ccc;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header p {
    color: #BC8F8F;
    font-family: 'Hiragino Mincho Pro', 'Yu Mincho', 'MS PMincho', serif;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: center
}

.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm-heading {
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin: 0 auto;
    color: #BC8F8F;
    font-family: 'Hiragino Mincho Pro', 'Yu Mincho', 'MS PMincho', serif;
    font-size: 24px;
    margin-bottom: 40px;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 0.5px solid #BC8F8F;
    background-color: #BC8F8F;
    color: white;

    text-align: left;
}

.confirm-table__text {
    padding: 15px;
    width: 70%;
    border-bottom: 0.5px solid #BC8F8F;
    color: #BC8F8F;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
    gap: 30px;
    justify-content: center;
}

.form__button-submit {
    padding: 10px 20px;
    font-size: 18px;
    width: 80px;
    border: none;
    border-radius: 3px;
    background: #8B4513;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.form__button-correct {
    padding: 10px;
    font-size: 18px;
    width: auto;
        height: auto;
        border: none;
        background: none;
        color: #8B4513;
        text-decoration: underline;
        cursor: pointer;
}